@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #494d81;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
    --gradient-clr: linear-gradient(to right, var(--base-clr), #202132, var(--base-clr));
    --shadow-clr: rgba(0, 255, 255, 0.5);
    --field-clr: #2d2e47;
    --logout-clr: #ea6969;
    --login-clr: rgba(0, 255, 255, 0.6);
    --table-header-clr: #3b3c53;
}
.light-mode {
    --base-clr: #f0f0f0;
    --line-clr: #cccccc;
    --hover-clr: #aaaaaa;
    --text-clr: #333333;
    --accent-clr: #0066cc;
    --secondary-text-clr: #555555;
    --gradient-clr: linear-gradient(to right, #f0f0f0, #ffffff, #f0f0f0);
    --shadow-clr: rgba(0, 0, 0, 0.2);
    --field-clr: #e0e0e0;
    --logout-clr: #cc4444;
    --login-clr: #0088cc;
    --table-header-clr: #dddddd;
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  2% {
    transform: translate(-2px, 0) rotate(-3deg);
  }
  4% {
    transform: translate(2px, 0) rotate(3deg);
  }
  6% {
    transform: translate(-2px, 0) rotate(-3deg);
  }
  8% {
    transform: translate(2px, 0) rotate(3deg);
  }
  10% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdant, sans-serif;
    line-height: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#theme-toggle {
  margin: auto 20px;
  padding: 0.45em;
  font-size: 10px;
  font-weight: bold;
  color: var(--text-clr);
  background-color: var(--base-clr);
  border: 1px solid var(--line-clr);
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
#theme-toggle:hover {
  background-color: var(--hover-clr);
  box-shadow: 0 0 10px var(--shadow-clr);
}
nav a{
    text-decoration: none;
    color: var(--login-clr);
    font-weight: bolder;
    margin-right: 3px;
    margin-left: auto;
}
nav a.logout{
    color: var(--logout-clr);
    animation: none;
}
nav a.logout:hover{
    color: indianred;
    animation: none;
    text-shadow: 0 0 7px indianred;
}
nav a:hover{
    color: var(--shadow-clr);
    text-shadow: 0 0 10px var(--shadow-clr);
    text-decoration: underline;
}
.bi.bi-person-check{
    color: var(--login-clr);
    animation: shake 1s infinite;
}
.bi.bi-person-dash{
    color: var(--logout-clr);
    animation: shake 3s infinite;
}
body {
    min-height: 100vh;
    background: var(--gradient-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "navbar navbar"
            "sidebar main"
            "footer footer";
}
nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    padding: 1em;
    background: var(--gradient-clr);
    .logo{
        font-weight: 600;
    }
}
aside{
    height: calc(100vh - 115.2px);
    top: 56px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    display: block;
    box-shadow: 0 0 7px var(--shadow-clr);
}
#sidebar{
    font-size: 14px;
    box-sizing: border-box;
    height: calc(100vh - 115.2px);
    width: auto;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    border-bottom: 1px solid var(--line-clr);
    border-top: 1px solid var(--line-clr);
    border-radius: 0 0.5em 0.5em 0;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
#sidebar ul{
    list-style: none;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}
#sidebar > ul > li.active > a{
    color: var(--accent-clr);
    svg{
        fill: var(--accent-clr);
    }
}
#sidebar > ul > li.active > ul > div > li.active > a{
    color: var(--accent-clr);
    svg{
        fill: var(--accent-clr);
    }
}
#sidebar a, #sidebar .dropdown-btn, nav.logo{
    border-radius: 0.5em;
    padding: 0.85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 2em;
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
}
#sidebar a span, #sidebar .dropdown-btn span, #sidebar .dropdown-btn, #sidebar a{
    flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: var(--hover-clr);
}
#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    > div {
        overflow: hidden;
    }
}
#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}
.bi-arrow-bar-down {
  transition: transform 0.3s ease;
}
.bi-arrow-bar-down.rotated {
  transform: rotate(180deg);
}

#sidebar .dropdown-btn{
    width: 100%;
}
.dropdown-btn{
    background-color: var(--base-clr);
    border: none;
    font-weight: bold;
}
#sidebar .sub-menu a{
    padding-left: 2em;
}
#toggle-btn{
    margin-left: auto;
    padding: 1em 1.1em 1em 1em;
    border: none;
    border-radius: 0.5em;
    background: none;
    cursor: pointer;

    svg{
        transition: transform 0.3s ease;
    }
}
#toggle-btn:hover{
    background-color: var(--hover-clr);
}
#toggle-btn.active svg{
    transform: rotate(180deg);
}
#sidebar.close{
    padding: 5px;
    width: 60px;
}

ul.sub-menu{
    padding-left: 0;
}

aside ul {
    padding-left: 0;
    font-weight: bold;
}
main{
    grid-area: main;
    max-height: calc(100vh - 115.2px);
    overflow: auto;
    padding: 0 5px;
}
main p{
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}
.content-wrapper{
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2, p {
    margin-top: 1em;
}
.login-container {
    background-color: var(--base-clr);
    border: 1px solid var(--line-clr);
    box-shadow: 0 0 7px var(--shadow-clr);
    padding: 2em;
    border-radius: 0.5em;
    min-width: 350px;
    max-width: 400px;
    margin: auto;
}
.login-container h2{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
}
.input-field {
    width: 100%;
    padding: 10px;
    max-width: 400px;
    margin-bottom: 1em;
    border: 1px solid var(--line-clr);
    border-radius: 0.4em;
    background-color: var(--field-clr);
    color: var(--text-clr);
    font-size: 16px;
    font-weight: bold;
}
.input-field:active, .input-field:focus {
    box-shadow: 0 0 7px var(--shadow-clr);
}
.login-form .btn {
    display: block;
    margin: 1em auto 0 auto;
}
.btn {
    padding: 0.85em 1.2em;
    background-color: var(--accent-clr);
    border: none;
    border-radius: 0.5em;
    color: var(--text-clr);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--hover-clr);
    box-shadow: 0 0 7px var(--shadow-clr);
}
.btn-primary {
    /* případně další vlastnosti nebo jen ponechat defaultní styl z .btn */
}
.btn.btn-primary svg{
    margin-right: 0.5em;
}
.order-summary-container {
  margin: 0;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
  background-color: var(--base-clr);
  border: 1px solid var(--line-clr);
  box-shadow: 0 0 7px var(--shadow-clr);
  border-radius: 8px;
}

.order-summary-container h4 {
  color: var(--text-clr);
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.order-summary-container h4 svg {
    margin-right: 0.5em;
}
.table-wrapper {
  overflow-x: auto;
  max-height: 400px;
}
.order-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--field-clr);
  color: var(--text-clr);
}
.order-table th,
.order-table td {
  padding: 5px;
  border: 1px solid var(--line-clr);
  text-align: left;
  font-size: 12px;
}
.order-table thead th {
  position: sticky;
  top: 0;
  background-color: var(--table-header-clr);
  z-index: 1;}
.order-table thead {
  background-color: var(--table-header-clr);
}

.order-table tbody tr:nth-child(even) {
  background-color: var(--field-clr);
}

.order-table tbody tr:hover {
  background-color: var(--hover-clr);
}
.styled-pagination {
  margin-top: 10px;
  text-align: center;
}

.styled-pagination a {
  text-decoration: none;
  padding: 0.5em 0.85em;
  background-color: var(--hover-clr);
  border: none;
  border-radius: 0.5em;
  color: var(--text-clr);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.styled-pagination a:hover {
  background-color: var(--hover-clr);
    box-shadow: 0 0 7px var(--shadow-clr);
}

.styled-pagination span {
  margin: 0 10px;
  font-weight: bold;
}
.filter-form {
  display: grid;
  /* Tři sloupce pro pole a čtvrtý sloupec pro tlačítko */
  grid-template-columns: repeat(3, 1fr) auto;
  grid-template-rows: auto auto;
  gap: 0.8rem;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--field-clr);
  border-radius: 0.5em;
  margin-bottom: 0.8rem;
}
.filter-button {
  grid-column: 4;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field input,
.field select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--line-clr);
  border-radius: 0.25em;
  background-color: var(--base-clr);
  color: var(--text-clr);
  font-size: 10px;
}
.filter-button button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5em;
  background-color: var(--hover-clr);
  color: var(--text-clr);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.filter-button button:hover {
  background-color: var(--hover-clr);
  box-shadow: 0 0 7px var(--shadow-clr);
}
.filter-button button svg {
  margin-right: 0.5em;
}
/* Vlastní modální okno */
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-modal {
    background-color: var(--base-clr);
    color: var(--text-clr);
    box-shadow: 0 0 10px var(--shadow-clr);
    border-radius: 12px;
    padding: 20px;
    width: 60%;
    max-width: 800px;
    animation: modalFadeIn 0.3s ease-out;
    position: relative;
}

@keyframes modalFadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-clr);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.custom-modal-close {
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.custom-modal-close:hover {
    color: var(--accent-clr);
}

.custom-modal-body {
    height: auto;
    max-height: 70vh;
    overflow-y: auto;
    justify-content: center;
}

.custom-modal-body label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
}

.custom-input {
    box-sizing: border-box;
    width: calc(100% - 6px);
    padding: 8px;
    margin-top: 5px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: var(--field-clr);
    border: 1px solid var(--line-clr);
    border-radius: 5px;
    color: var(--text-clr);
}

.custom-modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.custom-button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border: none;
}

.custom-button.primary {
    background-color: var(--accent-clr);
    color: var(--text-clr);
}

.custom-button.secondary {
    background-color: var(--line-clr);
    color: var(--text-clr);
}

.custom-button.primary:hover {
    background-color: var(--hover-clr);
}

.custom-button.secondary:hover {
    background-color: var(--hover-clr);
}

footer{
    grid-area: footer;
    background: var(--gradient-clr);
    color: var(--text-clr);
    padding: 1em;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;}
}