<div class="order-summary-container">
  <h2>Přehled zakázek</h2>
  <!-- Filtrační formulář -->
  <form id="filter-form" class="filter-form" action="{% url 'order_summary' %}" method="get">
  <div class="field order-number">
    <input type="text" name="order_number" placeholder="Číslo zakázky" value="{{ request.GET.order_number|default:'' }}">
  </div>
  <div class="field mandant">
    <input type="text" name="mandant" placeholder="Mandant" value="{{ request.GET.mandant|default:'' }}">
  </div>
  <div class="field evidence-start">
    <input type="date" name="evidence_start" placeholder="Evidence od" value="{{ request.GET.evidence_start|default:'' }}">
  </div>

  <div class="field store">
    <select name="store">
      <option value="">Všechny sklady</option>
      {% for st in stores %}
        <option value="{{ st.id }}" {% if request.GET.store == st.id|stringformat:"s" %}selected{% endif %}>{{ st.store }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="field team">
    <select name="team">
      <option value="">Všechny týmy</option>
      {% for t in teams %}
        <option value="{{ t.id }}" {% if request.GET.team == t.id|stringformat:"s" %}selected{% endif %}>{{ t.company }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="field evidence-end">
    <input type="date" name="evidence_end" placeholder="Evidence do" value="{{ request.GET.evidence_end|default:'' }}">
  </div>

  <div class="filter-button">
    <button type="submit">Filtrovat</button>
  </div>
</form>

  <table class="order-table">
    <thead>
      <tr>
        <th>Mandant</th>
        <th>Sklad</th>
        <th>Číslo zakázky</th>
        <th>Zákazník</th>
        <th>Město</th>
        <th>Okres</th>
        <th>Evidence</th>
        <th>Doručení</th>
        <th>Realizace kým</th>
        <th>Montážní tým</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.mandant }}</td>
        <td>{{ order.store }}</td>
        <td>{{ order.order_number }}</td>
        <td>{{ order.customer_name }}</td>
        <td>{{ order.place.city }}</td>
        <td>{{ order.place.district }}</td>
        <td>{{ order.evidence_term|date:"d.m.Y" }}</td>
        <td>{{ order.delivery_term|date:"d.m.Y" }}</td>
        <td>{{ order.team_type }}</td>
        <td>{{ order.team }}</td>
        <td>{{ order.status }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="11">Žádné objednávky k zobrazení.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="styled-pagination">
    {% if orders.has_previous %}
      <a class="ajax-link" href="{% url 'order_summary' %}?page={{ orders.previous_page_number }}{% if request.GET.order_number %}&order_number={{ request.GET.order_number }}{% endif %}{% if request.GET.mandant %}&mandant={{ request.GET.mandant }}{% endif %}{% if request.GET.store %}&store={{ request.GET.store }}{% endif %}{% if request.GET.evidence_start %}&evidence_start={{ request.GET.evidence_start }}{% endif %}{% if request.GET.evidence_end %}&evidence_end={{ request.GET.evidence_end }}{% endif %}{% if request.GET.team %}&team={{ request.GET.team }}{% endif %}">← Zpět</a>
    {% endif %}
    <span>Strana {{ orders.number }} z {{ orders.paginator.num_pages }}</span>
    {% if orders.has_next %}
      <a class="ajax-link" href="{% url 'order_summary' %}?page={{ orders.next_page_number }}{% if request.GET.order_number %}&order_number={{ request.GET.order_number }}{% endif %}{% if request.GET.mandant %}&mandant={{ request.GET.mandant }}{% endif %}{% if request.GET.store %}&store={{ request.GET.store }}{% endif %}{% if request.GET.evidence_start %}&evidence_start={{ request.GET.evidence_start }}{% endif %}{% if request.GET.evidence_end %}&evidence_end={{ request.GET.evidence_end }}{% endif %}{% if request.GET.team %}&team={{ request.GET.team }}{% endif %}">Další →</a>
    {% endif %}
  </div>
  </div>
</div>